@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;400;500;600&display=swap');

html,
body,
div{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Anek Malayalam', sans-serif;
}
ol,
ul {
	list-style: none;
}