.container {
    height: 105vh;
    width: 5rem;
    position: fixed;
    background-image: linear-gradient(to right, rgb(54, 54, 54), rgb(41, 40, 40));
    transition: width 200ms ease;
}

@media screen and (max-width: 880px) {
    .container {
        bottom: 0;
        height: 5rem;
        min-width: 100%;
    }

    .container ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    // .nav_link {
    //     display: flex;
    //     flex-direction: row;
    // }

    .logo {
        display: none;
    }

    .nav-link {
        justify-content: center;
    }
}

@media screen and (min-width: 880px) {
    .container {
        top: 0;
        width: 5rem;
        height: 105vh;
    }

    .container:hover {
        width: 13rem;
    }

    .container:hover .link_text {
        display: inline;
        transition: opacity 400ms;
    }
}

.container:hover {
    width: 13rem;
}

.navbar_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav_item {
    width: 100%;
}

// .nav_item:last-child {
//     bottom: 2rem;
//     position: absolute;
// }

.nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 5.3rem;
    width: 100%;
    color: black;
    // filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
}

.nav_link:hover {
    filter: grayscale(0%) opacity(1);
    background: #6b507e;
}

.icon {
    color: #B1DAE7;
    transition: 600ms;
    // padding: 0 1rem;
}

.link_text {
    display: none;
}

.container:hover .link_text {
    display: block;
    font-size: 1.3rem;
    color: #B1DAE7;
    font-family: 'Anek Malayalam', sans-serif;
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}

.logo {
    width: 100%;
}

.iconLogo {
    transform: rotate(0deg);
    transition: 200ms;
    color: #d183e0;
}

// .logo_text {
//     display: inline;
//     position: absolute;
//     // left: -999px;
//     transition: 300ms;
// }

.container:hover .iconLogo {
    transform: rotate(-180deg);
}


.button {
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    // transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    // transition-property: color;
}

.button:focus,
.button:hover {
    color: #fff;
}

.button:focus:after,
.button:hover:after {
    width: 100%;
    left: 0%;
}

.button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}