.projectCard {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    color: #B1DAE7;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.3s ease 0s !important;
    height: 170px;
    margin: 15px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    padding: 10px;

    &:hover {
        transform: scale(1.05) !important;
        overflow: hidden !important;
        box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
    }
    .projectImg {
        width: 60%;
        height: 20%;
        border-radius: 1rem;
    }

    .courseDesc {
        font-size: 0.9rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-height: 1.2;
    }

    .genre_btn {
        margin: 0 5px;
    }
}