@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;400;500;600&family=League+Gothic&display=swap');

.container {
    min-height: 125vh;
    // margin-left: 15rem;
    min-width: 100%;
    background-color: #181838;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @media screen and (max-width: 880px) {
        height: 105vh;
        height: -webkit-fill-available;
        overflow: scroll;
    }

    .details {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 880px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-width: 100%;
            min-height: 100vh;
        }
    }

    .textContainer {
        color: #B1DAE7;
        // margin-left: 0.5rem;

        @media screen and (max-width: 880px) {
            line-height: 1;
            font-size: 0.8rem;
            margin-left: 0;
        }

        .firstRow {
            display: flex;
        }

        .firstRow2 {
            display: flex;
        }



        .tech_icons {
            width: 120px;
            height: 120px;
            font-size: 3.5em !important;
            margin: 10px !important;
            // padding: 5px !important;
            opacity: 0.93 !important;
            border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
            // vertical-align: middle !important;
            text-align: center !important;
            border-radius: 5px !important;
            display: table !important;
            box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
            overflow: hidden !important;
            transition: all 0.4s ease 0s !important;

            @media screen and (max-width: 880px) {
                width: 100px;
                height: 70px;
                margin: 3px !important;
                font-size: 1rem;
            }
        }

        .tech_icons:hover {
            transform: scale(1.05) !important;
            overflow: hidden !important;
            border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
        }

        // .tech-icon-images {
        //     padding: 20px !important;
        //     line-height: 1.6 !important;
        // }

        .aboutDetails {
            font-size: 1.2rem;
        }

        .skill {
            color: #8c5aa8;
        }

        .typeWriter {
            color: #B1DAE7;
            font-size: 2rem;
        }

        .Iam {
            font-size: 1.6rem;
        }

        .button {
            cursor: pointer;
            position: relative;
            border: none;
            background: none;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 200ms;
            transition-property: color;
            color: white;
            background-image: linear-gradient(180deg, var(--nav-primary1) 0%, var(--nav-primary2) 99%);
            padding: 0.8rem 2rem;
            border-radius: 0.5rem;
            transition: all 0.3s ease;
            margin-right: 0.9rem;
            margin-top: 0.5rem;
        }

        .button:focus,
        .active,
        .button:hover {
            color: #B1DAE7;
            transform: scale(1.1);
            border-bottom: 2px solid #B1DAE7;
        }

        .button:focus:after,
        .button:hover:after {
            width: 100%;
            left: 0%;
        }

        .button:after {
            content: "";
            pointer-events: none;
            bottom: -2px;
            left: 50%;
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: #B1DAE7;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-duration: 400ms;
            transition-property: width, left;
        }
    }

    .textContainer2 {
        margin-top: 3.8rem;

        @media screen and (max-width: 880px) {
            margin-top: 0;
        }
    }
}

.profile {
    aspect-ratio: 6.5 / 8;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 880px) {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        aspect-ratio: 6/7;
    }

    @media screen and (max-width: 600px) {
        margin: 0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        aspect-ratio: 9.9/10;
    }
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    padding: 20px;

    @media screen and (max-width: 880px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

}

.white {
    min-height: 72%;
    position: relative;
    aspect-ratio: 1;
    border: 4px solid #B1DAE7;
    border-radius: 50%;
}

.img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin: 8px;
    object-fit: cover;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #B1DAE7;
    text-align: center;
}