.container {
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 5000;

    .iconList {
        display: flex;
        justify-content: center;

        .icon {
            padding: 0.5rem;

            .singleIcon {
                color: #B1DAE7;
                transition: all 0.1s ease-in;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}