@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;400;500;600&family=League+Gothic&display=swap');

.container {
    min-height: 125vh;
    // margin-left: 15rem;
    min-width: 100%;
    background-color: #181838;
    display: flex;
    justify-content: center;
    align-items: center;

    // @media screen and (max-width:880px) {
    //     margin-top: -5rem;
    // }

    .cardContainer {
        margin-left: 15rem;
        color: #B1DAE7;

        .project_heading {
            @media screen and (max-width: 880px) {
                display: none;
            }
        }

        @media screen and (max-width: 880px) {
            min-height: 100vh;
            margin-left: 0;
            overflow-y: scroll;
            // padding-bottom: 0.5rem;
        }

        .btnContainer {
            @media screen and (max-width: 880px) {
                margin-top: 3rem;
            }
        }
    }

    .details {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 880px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-width: 100%;
            min-height: 100vh;
        }
    }

    .aboutDetails {
        font-size: 1.2rem;

        @media screen and (max-width: 880px) {
            font-size: 1rem;
        }
    }

    .button {
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 200ms;
        transition-property: color;
        color: white;
        background-image: linear-gradient(180deg, var(--nav-primary1) 0%, var(--nav-primary2) 99%);
        padding: 0.8rem 2rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        margin-right: 0.9rem;
        // margin-top: 0.5rem;
    }

        .active,
        .button:hover {
            color: #B1DAE7;
            transform: scale(1.1);
            border-bottom: 2px solid #B1DAE7;
        }

    .button:hover:after {
        width: 100%;
        left: 0%;
    }

    .button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #B1DAE7;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }
}